<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Einar Youth Center - About Us</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="icon" href="{{url_for('static', filename='mini_logo.png')}}"type="image/x-icon"/>
</head>
<body>
    <header>
        <h1>
            Einar Youth Center
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <a href="/">Home</a>&nbsp;
            <a href="https://www.coing.co/einar/JLM_East_YC/subcommunities">Apply</a>&nbsp;
            <a>
                <div class="dropdown">
                    <button class="dropbtn"><h2>Media</h2></button>
                    <div class="dropdown-content">
                    <a href="https://www.instagram.com/einarjyc?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
                        <img src="{{ url_for('static', filename='instagram.png') }}" alt="instagram logo" width="50%" height="50%">
                    </a>
                    <a href="https://www.tiktok.com/@einar.youth.center?is_from_webapp=1&sender_device=pc">
                        <img src="{{ url_for('static', filename='tiktok.png') }}" alt="tiktok logo" width="40%" height="40%">
                    </a>
                    <a href="https://www.facebook.com/Einar.JYC/">
                        <img src="{{ url_for('static', filename='facebook.png') }}" alt="facebook logo" width="30%" height="30%">
                    </a>
                    </div>
                </div>
            </a>
        </h1>
    </header>
    <main>
        <section style="font-size: 22px;">
            <h2>حول مركز اينار</h2>
            <p>تمكين الشباب العربي الفلسطيني في القدس بالدعم الأكاديمي والمهني<br>


            نحن منظمة غير ربحية مكرسة لتوفير مساحة آمنة ورعاية للشباب العربي الفلسطيني في القدس لتطوير مهاراتهم الأكاديمية والمهنية<br>
           من خلال برامجنا المبتكرة وبيئتنا الداعمة، نساعد الشباب على الوصول إلى إمكاناتهم الكاملة ويصبحون قادة في مجتمعاتهم</p>
            <ul>
                <h3>مهمة اينار:</h3>
                <li>سد الفجوة التعليمية للشباب العربي الفلسطيني في القدس</li>
                <li>تزويد الشباب بالمهارات والمعرفة التي يحتاجونها للنجاح في الكلية والمهن</li>
                <li>تعزيز الشعور بالانتماء والمجتمع بين الشباب العربي الفلسطيني في القدس</li>
                <li>تمكين الشباب ليصبحوا صانعي تغيير إيجابيين في مجتمعاتهم</li>
            </ul>
        </section>
    </main>

    <div class="footer-content">
        <img src="../static/logo.jpeg" alt="Einar's logo" class="footer-logo">
    </div>

    <div id="contact">
        <h1><b>Contact</b></h1>
        <hr>
        <p>We would love to hear from you! Please fill out the form below and we'll get in touch as soon as possible.</p>
        <form id = "form" action="/about" method="POST">
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div>
                <label for="email">Email</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div>
                <label for="message">Message</label>
                <input type="text" id="message" name="message" required>
            </div>
            <button type="submit">Send Message</button>
        </form>
        <h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1>
    </div>

    <footer>
        &copy; 2024 Einar Youth Center. All rights reserved.
    </footer>
</body>
</html>